@using MvcLogin.Models
@model IEnumerable<QuanSo>

<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="ngay">Ngày:</label>
        <input type="date" class="form-control" id="ngay" name="ngay" />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdBcqs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongQs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QsVang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaoNgu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BenhXa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiThucTe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiThucTap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiTt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiCtac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThaiSan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LyDoKhac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuThich)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.IdBcqs)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBcqs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongQs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QsVang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaoNgu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenhXa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiThucTe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiThucTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiTt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiCtac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThaiSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LyDoKhac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuThich)
            </td>
            <td>
                <a asp-action="EditQuanSo" asp-route-Id="@item.IdBcqs"><i class="bi bi-pen">Edit</i></a>

                <a asp-action="DeleteQuanSo" asp-route-Id="@item.IdBcqs"><i class="bi bi-trash-fill">Delete</i></a>

            </td>
        </tr>
    }
</table>
<a href="#">Show All</a>